@page
@model Restaurant.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/_Layout.cshtml";
}


<link href="~/css/accessdenied.css" rel="stylesheet" />

<div class="container">

    <div>

        <img src="~/images/accessdenied.png" alt=" access denied" />
    </div>

    <div>
        <p>ACCESS DENIED</p>
        <b></b>
        <p>RETURN TO HOME PAGE</p>
        <b></b>
        <p>ONLY ADMIN CAN ENTER THIS LINK</p>
    </div>
</div>

