body {
    background-color: cadetblue
}

footer {
    padding: 3px;
    background-color: lightyellow;
    color: white;
    opacity: 0.9;
    text-align: center;
}

h1 {
    color: black;
}

p {
    color: black;
}

div {
    color: black;
    border-radius: 5px;
    background-color: yellow;
    padding: 10px;
}

input[type=text] {
    width: 500px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
