@page
@{
    ViewData["title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
<!--css page link -->
<link href="~/css/index.css" rel="stylesheet" />

<div class="cente">
    <p>Welcome to LCB Restaurant website.</p>
    <p>Here LCB Restaurant we are selling some most well known Malay Cuisine.</p>
</div>

<!-- title for the image shown-->
<h1>Most Popular Dish</h1>

<!-- picture of the food at home page-->

<div class="pic">
    <img src="images/nasikerabu.png" class="responsive">
</div>

<div class="center">
    <p>Nasi Kerabu</p>
    <p>$5.50</p>
</div>


<div class="pic">
    <img src="images/chickensatay.png" class="responsive" >
</div>

<div class="center">
    <p>Chicken Satay</p>
    <p>$3.30</p>
</div>


<div class="pic">
    <img src="images/dagingrendang.png" class="responsive">
</div>

<div class="center">
    <p>Daging Rendang with Rice</p>
    <p>$6.00</p>
</div>
<!-- end code for picture post on the website -->
